.logo
    padding-top: 0.5em 
    margin-bottom: 0.5em
    margin-top: 0.5em
    height: 7em
    width: 7em 

@media only screen and (min-width: 768px)
    .logo
        transform: scale(1.5)
        margin-bottom: 1em
        margin-top: 1em

@media only screen and (min-width: 1366px)
    .logo
        transform: scale(0.5)
        margin: 0
        justify-self: end