.logo
    padding-top: 0.5em 
    margin-bottom: 0.5em
    margin-top: 0.5em
    height: 100px
    width: 100px 

@media only screen and (min-width: 768px)
    .logo
        transform: scale(1.5)
        margin-bottom: 1em
        margin-top: 1em