.section
    display: flex
    margin-top: 0.5em

    &__div
        width: 100%
        display: flex
        flex-direction: column
        line-height: 1.25em

    &__title
        color: white
        align-self: center
        
    &__content
        width: 370px  
        align-self: center
        margin-bottom: 0.5em

    &__img
        border: 0
        padding: 0
        margin: 0
        height: 5.55em
        width: 5.55em
        
    &__img--big
        height: 11.40em
        width: 11.40em

    &__img--hidden
        display: none

    &--hidden
        display: none

