body {
  margin: 0;
  background-color: #191414;
  font-family: proxima-nova, sans-serif; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

.aside {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-end; }
  .aside__contentdiv {
    height: 72.5%;
    width: 15%;
    background-color: blue; }
  .aside__a {
    color: white;
    text-align: center; }

.button {
  width: 12em;
  height: 3em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #1ed761;
  border-radius: 25em;
  color: white;
  background-color: #1db954; }
  .button:focus {
    outline: 0; }
  .button:hover {
    background-color: #1ed760;
    transform: scale(1.1); }

@media only screen and (min-width: 768px) {
  .button {
    transform: scale(2);
    margin-top: 2.5em; }
    .button:focus {
      outline: 0; }
    .button:hover {
      background-color: #1ed760;
      transform: scale(2.1); } }
.section {
  display: flex;
  height: 100%; }
  .section__div {
    display: flex;
    flex-direction: column;
    line-height: 1.25em; }
  .section__title {
    color: white;
    align-self: center; }
  .section__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-self: center;
    margin-bottom: 0.5em;
    width: 99%; }
  .section__content--big {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
    margin-bottom: 0.5em;
    width: 99%; }
  .section__img {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%; }
  .section__img--big {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%; }
  .section__img:hover {
    opacity: 0.5;
    transform: scale(1.5); }
  .section__img--big:hover {
    opacity: 0.5;
    transform: scale(1.2); }
  .section__img--hidden {
    display: none; }
  .section--hidden {
    display: none; }

@media only screen and (min-width: 768px) {
  .section__content {
    width: 90%; }
  .section__content--big {
    width: 90%; }
  .section__title {
    line-height: 1em;
    font-size: 3em; }
  .section__img:hover {
    opacity: 1;
    transform: scale(1.1); }
  .section__img--big:hover {
    opacity: 1;
    transform: scale(1.05); }
  .section__img--hidden {
    display: inline; }
  .section--hidden {
    display: inline; } }
@media only screen and (min-width: 1366px) {
  .section__div {
    max-height: 10vh; }
  .section__content {
    grid-template-columns: repeat(6, 1fr); }
  .section__content--big {
    grid-template-columns: repeat(6, 1fr); }
  .section__title {
    line-height: 1em;
    font-size: 2em; }
  .section__img:hover {
    opacity: 1;
    transform: scale(1.1); }
  .section__img--big:hover {
    opacity: 1;
    transform: scale(1.05); } }
.fmobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em; }
  .fmobile__text {
    padding: 0;
    border: 0;
    margin: 0.5em;
    color: white; }

.header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.logo {
  padding-top: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  height: 7em;
  width: 7em; }

@media only screen and (min-width: 768px) {
  .logo {
    transform: scale(1.5);
    margin-bottom: 1em;
    margin-top: 1em; } }
@media only screen and (min-width: 1366px) {
  .logo {
    transform: scale(0.5);
    margin: 0;
    justify-self: end; } }
.main {
  display: flex;
  flex-direction: column; }
  .main__nav {
    display: none; }
  .main__aside {
    display: none; }
  .main__player {
    display: none; }
  .main__logo > h2 {
    display: none; }

@media only screen and (min-width: 1366px) {
  .main__header > a > .button {
    display: none; }
  .main__logo {
    position: absolute;
    top: 0;
    min-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 10fr;
    grid-template-areas: "L T N N N N N N N N N N";
    height: 15%; }
  .main__logo > h2 {
    display: inline;
    color: white;
    align-self: center;
    grid-area: T; }
  .main__nav {
    background-color: yellow;
    top: 0;
    height: 100%;
    grid-area: N;
    display: flex;
    align-self: center; }
  .main__article {
    display: flex; }
  .main__aside {
    position: absolute;
    top: 15%;
    display: flex; }
  .main__sectiondiv {
    height: 100%;
    position: absolute;
    overflow: scroll;
    top: 15%;
    left: 18%; }
  .main__section {
    width: 100%;
    align-self: start; }
  .main__footer {
    position: absolute;
    display: flex; }
  .main__fmobile {
    display: none; } }

/*# sourceMappingURL=style.css.map */
