body{
    min-width: 375px;
    margin:0px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color:#111;

}
section{
    margin: 0px;
}
i{
    font-size: 15px;
    font-style: normal;
}
.fab.fa-youtube{
    font-size: 22px;
}
.nav.container{
    background-color:#e62117;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px;
    color:white;
    padding: 10px;
    flex-wrap: nowrap;
}
.fotoportada{
    margin: 0px;
    width: 100%;
    background-repeat:no-repeat;
    background-size:cover;
    justify-content: flex-start;
}
.profilePic{
    border-radius: 50px;
    background-color:red; 
    width: 40px;
    height: 40px;
    position: absolute;
    top:85px;
    left:20px;
    margin
}
.subscription{
    color:#e62117;
    justify-content: flex-start;
    font-size: 15px;
    padding-left: 50px;
}
.subscribe{
    display: flex;
    justify-content:flex-start; 
}
.subscribe0{
    padding-top: 10px;
    text-align: left;
}
.subscribe1{
    padding-top: 10px;
    padding-left: 5px;
}
.cover{
    margin: 0px;
}
h3{
    margin: 0px;
}
.h3{
margin-left: 10px;
margin-top: 10px;
color:gray;
}
h2{
    margin: 0px;
}
h1{
    margin: 0px;
    padding-top: 35px;
    text-align: left;
    color:black;
    font-size: 15px;
}
h4{
    margin:0px;

}
h5{
    margin:0px;
    padding-top:5px;
    color: gray; 
}
.home{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 15px;
    border-bottom: 2px inset grey;
    box-shadow: 3px;  
    margin-bottom: 5px;
}
.borderHome{
    border-bottom: 2px solid #e62117;
}
.fas.fa-chevron-circle-down{
    color:black;
    background-color: white;
}
.mainvideo{
    display: flex;   
}
.picMainVideo{
    margin-top: 15px;
    width: 300px;
    height: 200px;
}
.mainVideoTitle{
    padding-top: 10px;
    margin-bottom: 15px;
    font-size: 11px;
    color:gray;
    
}
.mainvideo1{
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: column;
    padding-left:10px;

}
.imgArticle{
    width: 150px;
    height: 110px;
}
.kindlist1{
    list-style: none;
    margin-left:-30px;
}
article{
    display: flex;
    justify-content: flex-start;
}
.video{
    padding-right: 5px;
}
.videodescription{
    display: flex;
    flex-direction: column;
}
.showMore{
    margin-bottom: 20px;
    text-align: center;
}
.section{
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}

@media only screen and (min-width: 600px) {

  
}